@model webcodefirst.Models.TblColor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblColor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoHex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoHex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupoOrdenamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupoOrdenamiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
