@model IEnumerable<webcodefirst.Models.TblColor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodigoColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoHex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrupoOrdenamiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoHex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrupoOrdenamiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
